if !session.user
    ul    
        li
            a(href="/users/signin") Ingresar
        li
            a(href="/users/signup") Registrate
else
    ul
        li
            a(href="/users/logout") Salir 
        li
            a(href="/users/profile") Perfil

h1 Bienvenido
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere numquam odio modi, sequi eius vitae accusantium ipsum quam consectetur consequuntur assumenda voluptatibus recusandae. Temporibus aspernatur culpa quod quo hic.
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, minus nulla, provident dolores minima sint inventore incidunt praesentium iste veritatis quaerat porro? Aperiam cumque, fugiat facilis doloremque eum velit quos?
p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam perferendis amet dolore commodi, quibusdam qui cum deserunt odit obcaecati, veritatis excepturi. Eius, aliquid placeat. Ab aliquid assumenda dignissimos minus doloremque?
